<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head') %>
	<script src="<%=googleUrl%>"></script>
</head>

<body class="d-flex flex-column min-vh-100">
	<!-- Header -->
	<header id="header-inner" class="sub-head">
		<div class="container"><%- include('./partials/nav-bar') %></div>
	</header>

	<!-- /*action="javascript:alert( 'success!' );"*/ -->
	<main>
		<section id="contact-a" class="text-center py-3">
			<div class="container my-3">
				<p class="lead">Here's how you can reach me...</p>

				<%- include('./partials/form') %>
			</div>
		</section>

		<!-- Section B: Contact Info
		<section id="contact-b" class="py-3 bg-dark">
			<div class="container">
				<div class="contact-info">
					<div>
						<i class="fas fa-envelope fa-2x my-3"></i>
						<p>unsubstantiated_script@gmail.com</p>
					</div>
					<div>
						<i class="fas fa-phone fa-2x my-3"></i>
						<p>(509) 934-8927</p>
					</div>
				</div>
			</div>
		</section> -->
	</main>
	<%- include('./partials/footer') %>
	<script src="/java-script/formHandler.js"></script>
	<script src="/java-script/emailer.js"></script>
</body>

</html>