<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
		<script src="<%=googleUrl%>"></script>
	</head>

	<body>
		<!-- Header -->
		<header id="header-inner" class="sub-head">
			<div class="container"><%- include('./partials/nav-bar') %></div>
		</header>

		<!-- /*action="javascript:alert( 'success!' );"*/ -->
		<main>
			<section id="contact-a" class="text-center py-3">
				<div class="container my-3">
					<h2 class="section-title">Contact Me</h2>
					<div class="bottom-line"></div>
					<p class="lead">Here is how you can reach me</p>
					<%- include('./partials/form') %>
				</div>
			</section>

			<!-- Section B: Contact Info -->
			<section id="contact-b" class="py-3 bg-dark">
				<div class="container">
					<div class="contact-info">
						<div>
							<i class="fas fa-envelope fa-2x my-3"></i>
							<h3>Email</h3>
							<p>unsubstantiated_script@gmail.com</p>
						</div>
						<div>
							<i class="fas fa-phone fa-2x my-3"></i>
							<h3>Phone</h3>
							<p>(509) 934-8927</p>
						</div>
						<div>
							<i class="fas fa-address-card fa-2x my-3"></i>
							<h3>Address</h3>
							<p>4904 N. Kari Rd. Otis Orchards, WA</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Section C: Tagline -->
			<section id="contact-c" class="bg-main py-4">
				<div class="container text-center">
					<h1>Ready For The Next Big Thing?</h1>
				</div>
			</section>
		</main>
		<%- include('./partials/footer') %>
		<script src="/java-script/formHandler.js"></script>
		<script src="/java-script/emailer.js"></script>
	</body>
</html>
